<div class="espaciado-barra"></div>

<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-5">
      <form>
        <div class="form-group">
          <label for="nombre">Nombre Completo:</label>
          <input type="text" class="form-control" id="nombre" value="" required>
        </div>
        <div class="form-group">
          <label for="identificacion">Identificacion:</label>
          <input type="text" class="form-control" id="identificacion" value="" required>
        </div>
        <div class="form-group">
          <label for="tipo">Tipo de Identificacion:</label>
          <select class="form-control" ng-model="tipoDocumento" id="tipo" required>
            <option ng-repeat="tipo in tiposDocumentos">{{tipo}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="email">Correo Electronico:</label>
          <input type="text" class="form-control" id="email" value="" required>
        </div>
      </form>
    </div>

    <div class="col-xs-0 col-sm-2"></div>

    <div class="col-xs-12 col-sm-5">

    </div>

  </div>
</div>
