<div class="espaciado-barra"></div>

<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-5">
      <form>
        <div class="form-group">
          <label for="nombre">Nombre Completo:</label>
          <input type="text" class="form-control" id="nombre" value="" required>
        </div>
        <div class="form-group">
          <label for="identificacion">Identificacion:</label>
          <input type="text" class="form-control" id="identificacion" value="" required>
        </div>
        <div class="form-group">
          <label for="tipo">Tipo de Identificacion:</label>
          <select class="form-control" ng-model="tipoDocumento" id="tipo" required>
            <option ng-repeat="tipo in tiposDocumentos">{{tipo}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="email">Correo Electronico:</label>
          <input type="text" class="form-control" id="email" value="" required>
        </div>
        <br>
        <button type="" class="btn btn-default btn-verde btn-block" name="button">Comprar</button>
        <br>
        <center>
          <span class="pf pf-paypal"></span>
          <span class="pf pf-bitcoin-sign"></span>
          <span class="pf pf-mastercard"></span>
          <span class="pf pf-visa"> </span>
          <span class="pf pf-sage"></span>
          <br>
          <br>
          <br>
        </center>
      </form>
    </div>

    <div class="col-xs-12 col-sm-7">

			<div class="panel-registro">
        <div class="titulo-relativo titulo-datos">
          <h2 class="titulo">Datos del Vuelo</h2>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <h4><strong>Salida:</strong></h4>
            <br>
            <p>Fecha: <strong>{{vuelo.salida}}</strong></p>
            <p>Aeropuerto: <strong>{{vuelo.desde.nombre}} [{{vuelo.desde.iata}}]</strong></p>
            <p>Ciudad: <strong>{{vuelo.desde.ciudad.nombre}}</strong></p>
            <p>Pais: <strong>{{vuelo.desde.ciudad.pais.nombre}}</strong></p>
          </div>
          <div class="col-xs-12 col-md-6">
            <h4><strong>Llegada:</strong></h4>
            <br>
            <p>Fecha: <strong>{{vuelo.llegada}}</strong></p>
            <p>Aeropuerto: <strong>{{vuelo.hasta.nombre}} [{{vuelo.hasta.iata}}]</strong></p>
            <p>Ciudad: <strong>{{vuelo.hasta.ciudad.nombre}}</strong></p>
            <p>Pais: <strong>{{vuelo.hasta.ciudad.pais.nombre}}</strong></p>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <center>
                <br>
                <p>Avion: <strong>{{vuelo.avion.nombre}}</strong></p>
                <p>Millas acumulables: <strong>{{vuelo.millas}}</strong></p>
                <p>Precio: <strong>${{vuelo.precio}}</strong></p>
              </center>
            </div>
          </div>
        </div>
			</div>
      <br>

      <div class="panel-registro">
        <div class="titulo-relativo titulo-datos">
          <h2 class="titulo">Seleccion de Puesto</h2>
        </div>
        <div class="row">
          
        </div>
			</div>
      <br>



    </div>

  </div>
</div>
