<div class="espaciado-barra"></div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="row">
        <div class="col-xs-12">
          <label for="desde">Lugar de Origen:</label>
          <select ng-model="desde" class="form-control" id="desde">
            <option ng-repeat="aeros in listaAeropuertos">{{aeros}}</option>
          </select>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-12">
          <label for="hasta">Lugar de Destino:</label>
          <select ng-model="hasta" class="form-control" id="hasta">
            <option ng-repeat="aeros in listaAeropuertos">{{aeros}}</option>
          </select>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-12">
          <label for="salida">Fecha de Salida:</label>
          <input type="text" class="form-control" name="datepicker" value="" id="ida">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-12">
          <button ng-click="buscarVuelos()" class="btn btn-default btn-verde btn-block" type="button" name="button">Buscar Vuelos</button>
          <br>
          <center>
            <div class="uil-ring-css" ng-show="cargando"  style="transform:scale(0.84);">
              <div class=""></div>
            </div>
          </center>
          <div class="alert alert-info alert-dismissible {{alerta}}" ng-hide="isCollapsed" role="alert">
    			  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    			  <strong>¿Quieres comprar o reservar un tiquete?</strong> Solo haz click en la oferta que mas se adapte a lo que deseas.
    			</div>
          <br>
        </div>
      </div>
    </div>
    <div class="col-xs-0 col-md-1">
    </div>
    <div class="col-xs-12 col-md-7" >
      <div class="row" ng-repeat="vuelo in vuelos">
        <div class="col-xs-12">
    			<div class="panel-registro clickable" ng-click="goComprar(vuelo.id_vuelo)">
            <div class="titulo-relativo titulo-busqueda">
              <h2 class="titulo">$ {{vuelo.precio}}</h2>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <p>Fecha Salida: <strong>{{vuelo.salida}}</strong></p>
        				<p>Fecha Llegada: <strong>{{vuelo.llegada}}</strong></p>
        				<p>Valor en Millas Acumulables: <strong>{{vuelo.millas}}</strong></p>
              </div>
              <div class="col-xs-12 col-md-6">
                <p>Desde: <strong>{{vuelo.desde.nombre}}, {{vuelo.desde.ciudad.nombre}}</strong></p>
        				<p>Hasta: <strong>{{vuelo.hasta.nombre}}, {{vuelo.hasta.ciudad.nombre}}</strong></p>
        				<p>Cupos Disponibles: <strong>{{vuelo.sillas}}</strong></p>
              </div>
            </div>
    			</div>
          <br>
        </div>
      </div>
    </div>
  </div>

</div>
